* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  /* color: lightblue; */
  /* color: #222325; */
  /* font-family: Helvetica, Arial, sans-serif; */
}
:root {
  --color-note-bg: #f3e9d4;
  --color-note: #ece0a6;
  --color-tb: #d8caaf;
  --color-front: hsl(250deg, 100%, 40%);
  --color-back: hsl(252deg, 100%, 60%);
  }
:fullscreen, ::backdrop {
  background-color: rgba(255,255,255,0);
}